<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <title>ISPF Presentation</title>
        <link rel="stylesheet" href="3270.css">
    </head>

    <body>

        <div id="wrapper">

            <div id="terminal">

                <div id="menu-bar">
                    <div id="menu-file">
                        <span class="underline">F</span>ile
                    </div>
                    <div id="menu-edit">
                        <span class="underline">E</span>dit
                    </div>
                    <div id="menu-edit-settings">
                        E<span class="underline">d</span>it_Settings
                    </div>
                    <div id="menu-menu">
                        <span class="underline">M</span>enu
                    </div>
                    <div id="menu-utilities">
                        <span class="underline">U</span>tilities
                    </div>
                    <div id="menu-compilers">
                        <span class="underline">C</span>ompilers
                    </div>
                    <div id="menu-test">
                        <span class="underline">T</span>est
                    </div>
                    <div id="menu-help">
                        <span class="underline">H</span>elp
                    </div>
                </div>

                <div id="menu-separator" class="blue-text">───────────────────────────────────────────────────────────────────────────────</div>

                <div id="status-line">
                    <div id="status-line-mode">
                        <span class="turquoise-text">EDIT</span>
                    </div>
                    <div id="status-line-name">
                        <span id="presentation-name" class="turquoise-text">NOGONOSA.SLIDES(DEMO1) - 01.00</span>
                    </div>
                    <div id="status-line-columns">
                        <span class="green-text">Columns</span>
                    </div>
                    <div id="status-line-column-numbers">
                        <span class="turquoise-text">00001 00072</span>
                    </div>
                </div>

                <div id="command-line">
                    <div id="command-line-command">
                        <span class="green-text">Command ===&gt;</span>
                    </div>
                    <div id="command-line-spaces">
                        <span class="turquoise-text underline white-space-pre">                                                </span>
                    </div>
                    <div id="command-line-scroll">
                        <span class="green-text"> Scroll ===&gt;</span>
                    </div>
                    <div id="command-line-scroll-type">
                        <span class="turquoise-text underline white-space-pre">CSR </span>
                    </div>
                </div>

                <div id="text-area">

                    <div id="line-numbers">
                        <div>
                            <span class="green-text">000001</span>
                        </div>
                        <div>
                            <span class="green-text">000002</span>
                        </div>
                        <div>
                            <span class="green-text">000003</span>
                        </div>
                        <div>
                            <span class="green-text">000004</span>
                        </div>
                        <div>
                            <span class="green-text">000005</span>
                        </div>
                        <div>
                            <span class="green-text">000006</span>
                        </div>
                        <div>
                            <span class="green-text">000007</span>
                        </div>
                        <div>
                            <span class="green-text">000011</span>
                        </div>
                        <div>
                            <span class="green-text">000012</span>
                        </div>
                        <div>
                            <span class="green-text">000013</span>
                        </div>
                        <div>
                            <span class="green-text">000014</span>
                        </div>
                        <div>
                            <span class="green-text">000015</span>
                        </div>
                        <div>
                            <span class="green-text">000016</span>
                        </div>
                        <div>
                            <span class="green-text">000017</span>
                        </div>
                        <div>
                            <span class="green-text">000018</span>
                        </div>
                        <div>
                            <span class="green-text">000019</span>
                        </div>
                    </div>

                    <div id="slide">
                        <div id="slide-title">
                            Title here
                        </div>
                        <div id="slide-body">
                            Some text here
                        </div>
                    </div>

                    <div id="top-of-data">
                        <!-- Top of data line -->
                        <span class="red-text">****** </span>
                        <span class="blue-text">***************************** Top of Data ******************************</span>
                    </div>

                    <div id="bottom-of-data">
                        <!-- Bottom of data line -->
                        <div id="bottom-red">
                            <span class="red-text">****** </span>
                        </div>
                        <div id="bottom-blue">
                            <span class="blue-text">**************************** Bottom of Data ****************************</span>
                        </div>
                    </div>

                </div>

                <div id="f-keys">
                    <div id="f-key-f1">
                        <span class="blue-text">F1=Help</span>
                    </div>
                    <div id="f-key-f3">
                        <span class="blue-text">F3=Exit</span>
                    </div>
                    <div id="f-key-f4">
                        <span class="blue-text">F4=Expand</span>
                    </div>
                    <div id="f-key-f5">
                        <span class="blue-text">F5=Rfind</span>
                    </div>
                    <div id="f-key-f6">
                        <span class="blue-text">F6=Rchange</span>
                    </div>
                    <div id="f-key-f12">
                        <span class="blue-text">F12=Cancel</span>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
